@model V._3._0.Models.PatientApp
@using V._3._0.Models;
@{
}
<head>
    <link rel="stylesheet" href="~/css/Patients/NewPatient.css" />
</head>
<body>
    <h1> Update Appointment</h1>
    <form asp-controller="Modules" asp-action="OnUpdatedApp" method="post">
        <div class="input">
            <input asp-for="App" name="AppId" value="@Model.App" type="hidden" />
            <input asp-for="PatientsId" value="@Model.PatientsId" type="hidden">
        </div>
        <div class="input">
            <label asp-for="AppDate">Date Of Appointment:</label>
            @Html.TextBoxFor(m => m.AppDate, "{0:dd/MM/yyyy}", new { @type = "date" })
        </div>
        <div class="input">
            <label asp-for="AppTime">Date of Time:</label>
            @Html.TextBoxFor(m => m.AppTime, "{0:hh:mm tt}", new { @type = "time" })
        </div>
        <div class="input">
            <label asp-for="Process">Date Of Adm</label>
            <input asp-for="Process" value="@Model.Process" type="text" placeholder="Process">
        </div>
        <div id="info">
            <button type="submit" id="Submit-Button">
                SUBMIT
            </button>
    </form>
</body>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}