@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model V._3._0.Models.PersonalInfo
<head>
    <link rel="stylesheet" href="~/css/Patients/PersonalInfo/PersonalInfoView.css" />
</head>
<body >
    
    <h1 id="Header">PERSONAL INFORMATION OF @Model.Name</h1>
    <div class="button-container">
        <form asp-controller="Modules" asp-action="OnUpdatePersonalInfo">
            <input name="InfoId" value="@Model.PIId" type="hidden" />
            <button type="submit" class="custom-button">Update</button>
        </form>
        
        <form asp-controller="Modules" asp-action="OnDeletePersonalInfo" method="post">
            <input name="infoId" value="@Model.PIId" type="hidden"/>
            <button name="patId" value="@ViewBag.patId" type="submit" class="custom-button">Delete</button>
        </form>
    </div>

    <div class="Info-Section">
        <div class="info-container">
            <label asp-for="@Model.Name">Name: </label>
            <div class="Info-data">@Model.Name</div>
        </div>
        <div class="info-container">
            <label asp-for="@Model.FatherName"> Father Name: </label>
            <div class="Info-data">@Model.FatherName</div>
        </div>
        <div class="info-container">
            <label asp-for="@Model.Gender">Gender: </label>
            <div class="Info-data">@Model.Gender</div>
        </div>
        <div class="info-container">
            <label asp-for="@Model.Age">Age: </label>
            <div class="Info-data">@Model.Age</div>
        </div>
        <div class="info-container">
            <label asp-for="@Model.Email">Email: </label>
            <div class="Info-data">@Model.Email</div>
        </div>
        <div class="info-container">
            <label asp-for="@Model.Address">Address: </label>
            <div class="Info-data">@Model.Address</div>
        </div>
        <div class="info-container">
            <label asp-for="@Model.Contact">Contact: </label>
            <div class="Info-data">@Model.Contact</div>
        </div>
        
    </div>
    
    
    
    
</body>